.database-property {
  display: flex;
  flex-direction: row;

  background-color: var(--pallete-light);
  padding: 1rem;
  border-radius: 2px;
  gap: 1rem;
}
.database-property .left {
  flex: 0.8;
  display: grid;
  grid-template-rows: 32px min(32px, 1fr) 16px;
  justify-items: flex-start;
}
.database-property .left.smaller {
  grid-template-rows: 32px 32px;
}
.database-property .left .label {
  margin-top: 0;
  font-weight: bold;
}
.database-property .left label {
  font-weight: bold;
}
.database-property .left .value {
  align-self: center;
  white-space: pre-line;
  font-size: 18px;
  padding-block: 2px;
}
.database-property .left input,
.database-property .left textarea {
  text-align: left;
  width: 100%;
  background-color: var(--pallete-violet-0_2);
  color: var(--pallete-dark);
}
.database-property .left textarea {
  resize: vertical;
  min-height: 300px;
}
.database-property .left input::placeholder {
  color: var(--pallete-dark-0_6);
}

.database-property .right {
  flex: 0.2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.database-property .right button {
  padding: 8px 12px;
  line-height: 1rem;

  border: 0;
  border-radius: 2px;

  background: var(--pallete-violet);
  color: var(--pallete-light);
  font-weight: 300;
  font-size: 16px;
  font-family: "Roboto", serif;

  transition:
    box-shadow 200ms linear,
    background-color 200ms linear;
}
.database-property .right button:hover {
  background: var(--pallete-violet_darker);
  box-shadow: 0 0 10px 1px var(--pallete-violet);
}
.database-property .right button:hover:active {
  opacity: 95%;
}

@media (max-width: 767px) {
  .database-property {
    flex-direction: column;
  }
}
