.limit-picker {
    height: fit-content;
    justify-content: center;
    display: grid;
    grid-template-columns: 30px 30px;
    grid-template-rows: 30px 30px;
    gap: 5px;
}

.limit-picker button.selected {
    background: var(--pallete-color-6-brighter);
}

.limit-picker button {
    background: var(--pallete-color-6);
    padding: 5px;
    border: none;
    font-size: 14px;
    color: var(--pallete-color-1);
    border-radius: 5px;
}

.limit-picker button:hover {
    background: var(--pallete-color-6-brighter);
    box-shadow: 0 0 10px var(--pallete-color-6-brighter);
}

.limit-picker button:hover:active {
    background: var(--pallete-color-6-darker);
}

@media (max-width: 767px) {
    .limit-picker {
        height: fit-content;
        justify-content: center;
        display: grid;
        grid-template-columns: 30px 30px 30px 30px;
        gap: 5px;
    }
}