.commission-viewer {
    padding-inline: 1rem;
}

.commission-viewer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.commission-viewer .loader-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.commission-viewer .loader {
    height: 128px;
}

.commission-viewer h1 {
    align-self: flex-start;
}