.account {
  display: flex;
  flex-direction: column;
}
.account-bottom {
  flex: 1;
  padding: 0 5rem 1rem 5rem;

  background-color: var(--pallete-second-light);

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (max-width: 767px) {
  .account-bottom {
    padding: 0 calc(1rem + var(--scrollbar-width)) 1rem var(--scrollbar-width);
  }
}
