.commission-page .application-list .application-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-block: 10px;
    border-radius: 3px;
    background-color: var(--pallete-color-1);
}

.commission-page .application-list .application-item.rejected {
    background-color: #ffc6c6;
}

.commission-page .application-list .application-item.accepted {
    background: #2ecc71;
}

.commission-page .application-list .application-item .top {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}

.commission-page .application-list .application-item .wrapper {
    display: grid;
    grid-template-rows: 0fr;
    justify-items: center;
    transition: grid-template-rows 0.2s ease-out;
}

.commission-page .application-list .application-item .wrapper.open {
    grid-template-rows: 1fr;
    align-items: center;
    gap: 0.5rem;
}

.commission-page .application-list .application-item .wrapper .inner {
    width: 100%;
    text-align: center;
    overflow: hidden;
    padding-inline: 2rem;
}

.commission-page .application-list .application-item .wrapper .caret {
    padding: 10px;
    background: var(--pallete-color-1);
    border-radius: 50%;
    transition: all 200ms linear;
}

.commission-page .application-list .application-item .wrapper .caret.rotated {
    rotate: 180deg;
}

.commission-page .application-list .application-item .wrapper .caret:hover {
    background-color: var(--pallete-color-5-darker);
}