.commission-viewer .searching,
.operator-viewer .searching {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 30px;
}

.commission-viewer .searching label,
.operator-viewer .searching label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.commission-viewer .searching input,
.operator-viewer .searching input {
    padding-inline: 3px;
    text-align: left;
}

@media (max-width: 767px) {
    .commission-viewer .searching,
    .operator-viewer .searching {
        flex-direction: column;
        height: fit-content;
        gap: 10px;
    }
}