.home {
    display: flex;
    flex-direction: column;
}
.home .welcome-section {
    position: relative;
}
.home .welcome-section #background-drone-image {
    width: 60%;
    position: absolute;
    top: 0;
    right: 60%;
}
.home .welcome-section #page-description {
    box-sizing: border-box;
    width: 60%;
    height: 100%;
    float: right;
    padding-inline: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.home .welcome-section #page-description p {
    width: 100%;
    font-size: 21px;
}
.home .welcome-section #page-description h1 {
    font-size: 30px;
}
.home .welcome-section #page-description .colorful {
    color: var(--pallete-violet);
}

@media (max-width: 767px) {
    .home .welcome-section #background-drone-image {
        display: none;
    }
    .home .welcome-section #page-description {
        width: 100%;
    }
}