header {
    display: flex;
    justify-content: space-between;
    padding: 1rem var(--scrollbar-width) 0 1rem;
}

header .logo {
    height: 5rem;
}

header .menu, header .menu.open {
    padding-inline: 1rem;
}

header nav {
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
}

@media (max-width: 767px) {
    header nav {
        width: 100%;
    }
    .logo-link {
        display: none;
    }
    header .menu {
        background: var(--pallete-color-1);
    }
}