.commission-page {
    display: flex;
    flex-direction: column;
}

.commission-page.loading {
    justify-content: center;
    align-items: center;
}

.commission-page .loader {
    height: 128px;
}