.commission-page .details {
    display: flex;
    flex-direction: row;

    background-color: var(--pallete-color-5);
    padding-bottom: 1rem;
}

.commission-page .details .separator {
    width: 1px;
    height: auto;
    margin-top: 1rem;

    background-color: var(--pallete-color-3-opacity-0_4);
}

.commission-page .details .author-details, .commission-page .details .commission {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
    gap: 0.5rem;
}

.commission-page .details .field span:nth-child(1) {
    font-weight: bold;
}

.commission-page .details h2 {
    text-align: center;
}

.commission-page .details .author-details {
}

.commission-page .details .commission {
}
