/*Links style*/
a,
.animated-hover {
    text-decoration: none;
    font-weight: bold;
    color: var(--pallete-dark);
    background-image: linear-gradient(
            to right,
            var(--pallete-violet) 50%,
            var(--pallete-dark) 50%
    );
    background-size: 200% 100%;
    background-position: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

a:hover,
.animated-hover:hover {
    background-position: 0;
}

/*All types of forms*/
input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"],
textarea {
    border: 0;
    outline: none;
    text-align: center;
    line-height: 1.5rem;
    font-size: 18px;
    border-radius: 3px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
textarea:focus {
    box-shadow: 0 0 2px 2px var(--pallete-violet-0_4);
}

/* submit custom style */
input[type="submit"] {
    border: 0;
    line-height: 1.5rem;
    border-radius: 3px;
}

input[type="submit"]:hover:active {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4);
}

input[type="submit"]:hover {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
}

/* Textarea, date input font fix */
textarea, input[type="date"] {
    font-family: "Roboto", serif;
}

/* Violet button */
.violet_button {
    padding: 8px 12px;
    line-height: 1rem;

    border: 0;
    border-radius: 2px;

    background: var(--pallete-violet);
    color: var(--pallete-light);
    font-weight: 300;
    font-size: 16px;
    font-family: "Roboto", serif;

    transition: box-shadow 200ms linear,
    background-color 200ms linear;

    cursor: pointer;
}

.violet_button:hover {
    background: var(--pallete-violet_darker);
    box-shadow: 0 0 10px 1px var(--pallete-violet);
}

.violet_button:hover:active {
    opacity: 95%;
}