html {
    scrollbar-gutter: auto;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    height: 100%;
    margin: 0;
    color: var(--pallete-color-3);
    background-color: var(--pallete-color-1);
    font-family: "Roboto", serif;
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}
