:root {
    --pallete-light: rgb(234, 253, 248);
    --pallete-light-0_2: rgba(234, 253, 248, 0.2);
    --pallete-light-0_4: rgba(234, 253, 248, 0.4);
    --pallete-light-0_6: rgba(234, 253, 248, 0.6);
    --pallete-light-0_8: rgba(234, 253, 248, 0.8);

    --pallete-second-light: rgba(222, 221, 228, 1);
    --pallete-second-light-0_2: rgba(222, 221, 228, 0.2);
    --pallete-second-light-0_4: rgba(222, 221, 228, 0.4);
    --pallete-second-light-0_6: rgba(222, 221, 228, 0.6);
    --pallete-second-light-0_8: rgba(222, 221, 228, 0.8);

    --pallete-dark: rgba(4, 8, 15, 1);
    --pallete-dark-0_2: rgba(4, 8, 15, 0.2);
    --pallete-dark-0_4: rgba(4, 8, 15, 0.4);
    --pallete-dark-0_6: rgba(4, 8, 15, 0.6);
    --pallete-dark-0_8: rgba(4, 8, 15, 0.8);

    --pallete-violet: rgba(94, 50, 195, 1);
    --pallete-violet-0_2: rgba(94, 50, 195, 0.2);
    --pallete-violet-0_4: rgba(94, 50, 195, 0.4);
    --pallete-violet-0_6: rgba(94, 50, 195, 0.6);
    --pallete-violet-0_8: rgba(94, 50, 195, 0.8);

    --scrollbar-width: 0.675rem;
}