.auth {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.auth .outlet-wrapper {

    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--pallete-color-2-brighter);
    border-radius: 10px;

    margin-block: 2rem;
    max-width: 80%;
}

.auth form, .auth .activation {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.auth .activation {
    justify-content: center;
    align-items: center;
}

.auth form .error {
    min-height: 1rem;
    margin-block: 2px;
}

.auth form label {
    font-weight: bold;
}

.auth .message-email {
}

.auth .email {
    font-weight: bold;
}

.auth .re-send {
    font-weight: bold;
    cursor: pointer;
}

.auth img {
    position: absolute;
    top: 0;
    left: auto;
    z-index: -1;
}

.auth .account_type {
    max-width: 20em;
}

@media (max-width: 767px) {
}