.commission-viewer .pagination-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.commission-viewer .pagination-panel .page-choice {
    font-size: 24px;
    line-height: 24px;

    color: var(--pallete-color-1);
}

.commission-viewer .pagination-panel .caret {
    fill: var(--pallete-color-1);
    width: 24px;
    height: 24px;
}

.commission-viewer .pagination-panel .page-choice, .commission-viewer .pagination-panel .caret {
    background: var(--pallete-color-6);
    border-radius: 5px;
    padding: 10px;
    transition: 100ms linear;
    cursor: pointer;
}

.commission-viewer .pagination-panel .page-choice:hover, .commission-viewer .pagination-panel .caret:hover {
    background: var(--pallete-color-6-brighter);
    box-shadow: 0 0 10px var(--pallete-color-6-brighter);
}

.commission-viewer .pagination-panel .page-choice:hover:active, .commission-viewer .pagination-panel .caret:hover:active {
    background: var(--pallete-color-6-darker);
}