.account-commissions .pagination-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.account-commissions .pagination-panel .dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.account-commissions .pagination-panel .caret {
    fill: var(--pallete-color-3);
    height: 32px;
    width: 32px;
}

.account-commissions .pagination-panel .dot {
    background: var(--pallete-color-3);
}

.account-commissions .pagination-panel .dot:hover {
    background: var(--pallete-color-4-opacity-0_6);
}

.account-commissions .pagination-panel .caret:hover {
    fill: var(--pallete-color-4);
}

.account-commissions .pagination-panel .dot.selected {
    background: var(--pallete-color-4);
}