.database-property {
    display: flex;
    flex-direction: row;

    background-color: var(--pallete-color-1);
    padding: 1rem;
    border-radius: 2px;
    gap: 1rem;
}

.database-property .left {
    flex: 0.8;
    display: grid;
    grid-template-rows: 32px min(32px, 1fr) 16px;
    justify-items: flex-start;
}

.database-property .left.smaller {
    grid-template-rows: 32px 32px;
}

.database-property .left .label {
    margin-top: 0;
    font-weight: bold;
}

.database-property .left label {
    font-weight: bold;
}

.database-property .left .value {
    align-self: center;
    white-space: pre-line;
    font-size: 18px;
    padding-block: 2px;
}

.database-property .left input,
.database-property .left textarea {
    text-align: left;
    width: 100%;
    background-color: var(--pallete-color-4-opacity-0_2);
    color: var(--pallete-color-3);
}

.database-property .left textarea {
    resize: vertical;
    min-height: 300px;
}

.database-property .left input::placeholder {
    color: var(--pallete-color-3-opacity-0_6);
}

.database-property .right {
    flex: 0.2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


@media (max-width: 767px) {
    .database-property {
        flex-direction: column;
    }
}
